---
import { getPostBySlug } from "../../lib/wordpress";
import type Article from "../../interfaces/article";
import BlogPost from "../../layouts/BlogPost.astro";
import BlogTracker from "../../components/BlogTracker.astro";
import { marked } from "marked";
import H1 from "../../components/Basic/Headings/H1.astro";
import H2 from "../../components/Basic/Headings/H2.astro";
import H3 from "../../components/Basic/Headings/H3.astro";
import H4 from "../../components/Basic/Headings/H4.astro";
import H5 from "../../components/Basic/Headings/H5.astro";
import H6 from "../../components/Basic/Headings/H6.astro";
import Paragraph from "../../components/Basic/Paragraph.astro";
import Img from "../../components/Basic/Img.astro";
import Link from "../../components/Basic/Link.astro";
import CodeBlock from "../../components/Basic/CodeBlock.astro";
import MarkdownCodeBlock from "../../components/Basic/MarkdownCodeBlock.astro";
import InlineCode from "../../components/Basic/InlineCode.astro";
import MarkdownIcon from "../../components/MarkdownIcon.astro";

const { slug } = Astro.params;

const article = await getPostBySlug(slug || "");

console.log('--- ARTICLE START ---');
console.log(JSON.stringify(article, null, 2));
console.log('--- ARTICLE END ---');

if (!article) {
  return Astro.redirect("/404");
}

let renderedContent;
try {
  renderedContent = marked.parse(article.content);
} catch (error) {
  console.error("Error parsing markdown:", error);
  console.error("Article content:", article.content);
  renderedContent = "<p>Error rendering content.</p>";
}
---

<BlogPost article={article}>
  <BlogTracker postTitle={article.title} category={article.category.name} />
  <div
    class="bg-ctp-crust text-ctp-text justify-center items-center align-middle left-0 absolute sm:top-0 md:top-12 w-screen flex px-4"
  >
    {article.cover.url && (
      <img
        class="rounded-lg h-14 shadow-md"
        src={article.cover.url}
        alt={article.cover.alternativeText || article.title}
      />
    )}
    <h1 class="text-center md:text-left text-3xl text-ctp-peach font-extrabold my-8 ml-4">
      {article.title}
    </h1>
  </div>
  <div class="h-11"></div>
  <div class="pt-20 md:pt-8" set:html={renderedContent}></div>
</BlogPost>
