---
import Layout from "../layouts/Layout.astro";

const title = "DivNectar - About";
const description = "Learn more about DivNectar and Sewdohe";

const identity = {
  firstName: "Josh",
  country: "United States :(",
  occupation: "Mechanic",
  hobbies: [
    "breaking code",
    "fixing code",
    "having people use the things I make",
    "playing minecraft",
    "raising my family",
  ],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Angular", "Server Management", "Linux (all of it)"];
---

<Layout title={title} direction="col" description={description}>
  <div class="prose prose-catpuccin text-ctp-text">
    <p><b>Here are a few facts about me:</b></p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p><b>Skills:</b></p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </div>
</Layout>
