---
import Layout from "../layouts/Layout.astro";

const title = "DivNectar - Blog";
const description = "Sewdohe's useless rambliungs about the web, tech, Minecraft and life.";
const image = {
  url: "https://divnectar.com/site-logo.web[",
  alt: "DivNectar Logo",
};

import { getAllPosts } from "../lib/wordpress";
import type Article from "../interfaces/article";

const articles = await getAllPosts();

console.log("articles:");
console.log(articles);
---

<Layout center={true} title={title} description={description} image={image}>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 pt-24 place-items-center">
  {
    articles &&
      articles.map((article) => (
        <div class="max-w-sm rounded-lg md:w-auto shadow-md bg-ctp-crust border-l-ctp-sapphire">
          <a href={`/blog/${article.slug}`}>
            <img
              class="rounded-lg p-4 border-ctp-sapphire"
              src={article.cover.url}
              alt={article.cover.alternativeText || article.title}
            />
          </a>
          <div class="flex flex-row justify-around p-2 px-4">
            <a href={`/tags/${article.category.slug}`}>
            <div class="bg-ctp-peach p-1 text-ctp-mantle rounded-3xl">{article.category.name}</div>
            </a>
          </div>
          <div class="p-5">
            <a href={`/blog/${article.slug}`}>
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-ctp-text">
                {article.title}
              </h5>
            </a>
            <p class="mb-3 font-normal text-ctp-text">
              {article.description}
            </p>
            <a href={`/blog/${article.slug}`}
              class="inline-flex items-center hover:scale-105 hover:bg-ctp-sky
              hover:text-ctp-mantle transition-all duration-100 px-3 py-2
              text-sm font-medium shadow-md rounded-md text-center focus:ring-4
              focus:outline-none text-ctp-text bg-ctp-mantle
              focus:ring-blue-300" > Read more
            </a>
          </div>
        </div>
      ))
  }
</Layout>
