---
import Layout from "../layouts/Layout.astro";

const title = "DivNectar - New User";
const description = 'thank you for regisering with DivNectar.';
const image = {
	url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
	alt: "DivNectar Logo",
}

import { GET } from './api/oauth/get-user'
let response = await GET(Astro)
const user = await response.body
---

<Layout title={title} description={description} image={image}>
  <p>Your account was created successfully.</p>
  <div>
      <h1>{user.username}</h1>
      <img src={`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png`} alt="User Avatar" />
  </div>
</Layout>

<script>
  const userId = Astro.cookies.get('userId')!.value ?? '0';
</script>