---
import { getPlayerData } from "../db/queries";
import Layout from "../layouts/Layout.astro";

const title = "DivNectar";
const description = "DivNectar - FOSS software and the Minecrafts.";
const image = {
  url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
  alt: "DivNectar Logo",
};

const players = await getPlayerData();

---

<Layout title={title} description={description} image={image}>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {
      players.map((player) => (
        <a
          href={`/players/${player.uuid}`}
          class="flex flex-col items-center rounded-lg shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-ctp-crust dark:hover:bg-ctp-mantle"
        >
          <img
            transition:name={`playerImage-${player.uuid}`}
            transition:name={`playerImage-${player.uuid}`}
            transition:persist
            class="object-contain aspect-auto w-full rounded-t-lg h-48 md:w-48 md:rounded-none md:rounded-s-lg"
            src={`https://mc-heads.net/body/${player.uuid}`}
            alt=""
          />
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 prose-xl font-bold tracking-tight text-white">
              {player.username}
            </h5>
            <p class="mb-3 prose-sm text-gray-400">
              {player.username}'s stats:
            </p>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
