---
import { getPlayerData } from "../db/queries";
import Layout from "../layouts/Layout.astro";

export async function get({ request }) {
  try {
    const players = await getPlayerData();
    return {
      props: { players },
    };
  } catch (error) {
    console.error("Error fetching player data:", error);
    return {
      props: { players: [] },
    };
  }
}

const { players } = Astro.props;

const title = "DivNectar";
const description = "DivNectar - FOSS software and the Minecrafts.";
const image = {
  url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
  alt: "DivNectar Logo",
};
export const prerender = false;
---

<Layout title={title} description={description} image={image}>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {players.length > 0 ? (
      players.map((player) => (
        <a href={`/players/${player.uuid}`} class="block p-4 border rounded-lg shadow hover:bg-gray-100">
          <img src={`https://mc-heads.net/body/${player.uuid}`} alt={`${player.username}'s avatar`} class="w-full h-48 object-cover rounded-lg" />
          <h2 class="mt-2 text-xl font-bold">{player.username}</h2>
        </a>
      ))
    ) : (
      <p>No players found.</p>
    )}
  </div>
</Layout>