---
import path from "path";
import Hamburger from "./Hamburger.astro";
import User from "../components/NavUser.astro";
const links = [
  {
    name: "Home",
    url: "/",
    path: "",
  },
  {
    name: "Blog",
    url: "/blog",
    path: "blog",
  },
  {
    name: "Discord",
    url: "/discord",
    path: "discord",
  },
  {
    name: "SkyNectar",
    url: "",
    path: "",
    children: [
      { name: "About", url: "/skynectar" },
      { name: "Leaderboards", url: "/skynectar/leaderboard" },
      { name: "Players", url: "/skynectar/players" },
      { name: "Chat", url: "/skynectar/server-events" },
      { name: "Server Wiki", url: "https://skyblock-wiki.divnectar.com" },
    ],
  },
  {
    name: "About",
    url: "/about",
    path: "about",
  },
];

const pathname = new URL(Astro.request.url).pathname;

console.log(pathname);
---

<div
  class="fixed top-0 p4 z-50 w-screen max-w-screen h-16 bg-ctp-crust flex items-center"
>
  <a
    class="mocha hover:scale-105 hover:text-ctp-peach transition-all duration-100 flex-grow md:flex-grow-0 px-4 justify-start text-ctp-text prose-2xl font-bold"
    href="/">DivNectar</a
  >
  <div
    class="hidden md:flex md:flex-grow justify-center items-center text-ctp-text"
  >
    {
      links.map((link) => (
      <div class="relative group">
          <a
            class={`${pathname === link.url ? "active" : ""} text-ctp-text no-underline px-2 lg:prose-lg hover:scale-105 hover:text-ctp-teal duration-150s cursor-default transition-all`}
            href={link.url}
          >
            {link.name}
          </a>
          {link.children && (
            <div class="absolute left-0 mt-2 w-48 bg-ctp-crust rounded-lg shadow-lg transform -translate-y-4 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300 group-hover:block">
              {link.children.map((child) => (
                <a
                  class="block px-4 py-2 text-ctp-text hover:bg-ctp-mantle rounded-lg"
                  href={child.url}
                >
                  {child.name}
                </a>
              ))}
            </div>
          )}
        </div>
      ))
    }
  </div>
  <Hamburger navLinks={links} />
  <User class="justify-self-end z-20 items-end" />
</div>
<!-- this div just matches the height of the navbar
to keep the content from going below it on page load. -->
<!-- throw extra margin on the bottom to make content look nice -->
<div class="h-16 mb-4"></div>

<style>
  .active {
    color: #74c7ec !important;
  }
  .active::before {
    color: #cba6f7;
    content: "[";
  }
  .active::after {
    color: #cba6f7;
    content: "]";
  }
</style>
