---
const backend_url = import.meta.env.BACKEND_URL;
---

<div>
  <h2 class="text-3xl font-extrabold text-ctp-pink">Server Events</h2>
  <ul id="events-list"></ul>
</div>

<script define:vars={{ backend_url }}>
  const ws = new WebSocket("wss://backend.divnectar.com");
  const eventsList = document.getElementById("events-list");

  // Fetch the last events when the page loads
  fetch(backend_url + "/skyblock/events", {
    headers: {
      "Access-Control-Allow-Origin": "https://backend.divnectar.com", // Allow your frontend domain
      "Access-Control-Allow-Methods": "GET, POST", // Allowed methods
      "Access-Control-Allow-Headers": "Content-Type", // Allowed headers
    },
  })
    .then((response) => response.json())
    .then((events) => {
      events.forEach((event) => {
        const listItem = document.createElement("li");
        listItem.classList.add("my-4");
        switch (event.eventType) {
          case "PlayerChat":
            listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${event.player.displayName}:</span> <span class="press-start-2p-regular text-sm">${event.message}</span>`;
            break;
          case "PlayerJoin":
            listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${event.player.displayName}</span> <span class="text-ctp-green font-extrabold"> joined the server </span>`;
            break;
          case "PlayerQuit":
            listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${event.player.displayName}</span> <span class="text-ctp-red font-extrabold">left the server</span>`;
            break;
          case "PlayerDeath":
            listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${event.player.displayName}</span> died!`;
            break;
          default:
            listItem.innerHTML = `<span class="font-extrabold">${event.player.displayName}</span> event occurred`;
            break;
        }
        eventsList.append(listItem);
      });
    });

  ws.onmessage = (event) => {
    const newEvent = JSON.parse(event.data);
    const listItem = document.createElement("li");
    listItem.classList.add("my-2");
    console.log(newEvent);
    switch (newEvent.eventType) {
      case "PlayerChat":
        listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${newEvent.player.displayName}:</span> <span class="press-start-2p-regular text-sm">${newEvent.message}</span>`;
        break;
      case "PlayerJoin":
        listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${newEvent.player.displayName}</span> <span class="text-ctp-green font-extrabold"> joined the server </span>`;
        break;
      case "PlayerQuit":
        listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${newEvent.player.displayName}</span> <span class="text-ctp-red font-extrabold">left the server</span>`;
        break;
      case "PlayerDeath":
        listItem.innerHTML = `<span class="font-extrabold rounded-md mx-2 bg-ctp-mantle p-2">${newEvent.player.displayName}</span> died!`;
        break;
      default:
        listItem.innerHTML = `<span class="font-extrabold"></span> event occurred`;
        break;
    }
    eventsList?.prepend(listItem);
  };

  window.addEventListener("beforeunload", () => {
    ws.close();
  });
</script>

<style>
  .press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
