---
// src/pages/players/[playerId].astro
import type { SqlPlayerData } from "../../db/interfaces";
import { getPlayerData } from "../../db/queries";
import Layout from "../../layouts/Layout.astro";

const { playerId } = Astro.params;
const players = await getPlayerData();
const player: SqlPlayerData = players.find((p) => p.uuid === playerId)!;

interface Player {
    uuid: string;
    username: string;
}

export const prerender = false;
---

<Layout
    title={`${player.username}'s Skyblock Profile'`}
    description={`view ${player.username}'s skyblock stats.`}
    image={{
        url: `https://mc-heads.net/body/${player.uuid}`,
        alt: `${player.username}'s avatar`,
    }}
>
    <div class="flex flex-col items-center">
        <img
            transition:name={`playerImage-${player.uuid}`}
            class="object-contain aspect-auto w-full rounded-lg h-48 md:w-48 md:rounded-none md:rounded-s-lg"
            src={`https://mc-heads.net/body/${player.uuid}`}
            alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                {player.username}
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                {player.username}'s stats:
            </p>
        </div>
    </div>
</Layout>
