---
import type { PlayerData } from "../../db/interfaces";
import { getPlayerData } from "../../db/queries";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { GET as getUser } from "../../pages/api/oauth/get-user";
import ProfileJSONLD from "../../components/ProfileJSONLD.astro";

import moment from "moment";

const { playerId } = Astro.params;
const players = await getPlayerData();
const player: PlayerData = players.find((p) => p.player_uuid === playerId)!;

function timePassedSince(epochTimestamp: string): string {
  // @ts-ignore
  return moment(parseInt(epochTimestamp)).fromNow();
}

const userId = Astro.cookies.get("userId")?.value ?? "0";
let user = null;

if (userId !== "0") {
  const response = await getUser({
    request: new Request(`http://localhost/api/oauth/get-user?id=${userId}`),
  });
  //@ts-ignore
  user = await response.json();
}
console.log(player);

export const prerender = false;
---

<Layout
  title={`${player.username}'s Skyblock Profile'`}
  description={`view ${player.username}'s online stats.`}
  image={{
    url: `https://mc-heads.net/body/${player.uuid}`,
    alt: `${player.username}'s avatar`,
  }}
>
  <ProfileJSONLD {...player} />
  <div class="flex mcfont w-full flex-col justify-center align-middle items-center">
    <img
      class="object-contain rounded-lg h-48 md:w-48 md:rounded-none md:rounded-s-lg"
      src={`https://mc-heads.net/body/${player.player_uuid}`}
      alt=""
    />
    <div
      class="flex flex-col w-full md:w-fit justify-between p-4 leading-normal"
    >
      <h2
        class="mb-0 text-2xl md:text-4xl self-center font-extrabold text-gray-900 dark:text-white"
      >
        {player.username}
      </h2>
      <span class="mt-0 text-ctp-subtext0 text-sm self-center mb-6"
        >Last seen {timePassedSince(player.LastLoginTime.toString())}</span
      >
      {
        user != null && user.minecraft_uuid === player.uuid ? (
          <div id="profile-controls" class="flex flex-col my-6 p-4">
            <Card direction="col">
              <h1 class="text-3xl font-extrabold">Hello, {user.name}</h1>
            </Card>
          </div>
        ) : null
      }
    </div>
    <div id="map-container" class="w-full h-[100vh] rounded-md"></div>
  </div>
  <div id="map-container"></div>
</Layout>

<!-- <script define:vars={{ player }}>
  const mapContainer = document.getElementById("map-container");

  const landCards = document.getElementsByClassName("land-card");
  console.log(landCards);

  for (let landCard of landCards) {
    landCard?.addEventListener("click", () => {
      console.log('added eventlister')
      let world = landCard.dataset.world;
      let x = landCard.dataset.x;
      let y = landCard.dataset.y;
      let z = landCard.dataset.z;

      if (mapContainer?.innerHTML === "") {
        const iframe = document.createElement("iframe");
        iframe.id = "player-map";
        iframe.className = "w-full h-[100vh] rounded-md";
        iframe.src = `https://map.divnectar.com/#${world}:${x}:${y}:${z}:25:0:0:0:0:flat`;
        mapContainer.appendChild(iframe);
      } else {
        mapContainer.innerHTML = "";
      }
    });
  }
</script> -->
