---
import type { PlayerData } from "../../db/interfaces";
import { getPlayerData, getCoinsLeaderBoard } from "../../db/queries";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { GET as getUser } from "../../pages/api/oauth/get-user";
import ProfileJSONLD from "../../components/ProfileJSONLD.astro";

import moment from "moment";

const { playerId } = Astro.params;
const players = await getPlayerData();
const player: PlayerData = players.find((p) => p.uuid === playerId)!;

// const coinsLeaderboard = await getCoinsLeaderBoard();
// const coinsRank = coinsLeaderboard.findIndex((p) => p.uuid === playerId) + 1;

// console.log(coinsLeaderboard);

interface Player {
  uuid: string;
  username: string;
}

function timePassedSince(epochTimestamp: string): string {
  // @ts-ignore
  return moment(parseInt(epochTimestamp)).fromNow();
}

const userId = Astro.cookies.get("userId")?.value ?? "0";
let user = null;

if (userId !== "0") {
  const response = await getUser({
    request: new Request(`http://localhost/api/oauth/get-user?id=${userId}`),
  });
  //@ts-ignore
  user = await response.json();
}
console.log(player)
export const prerender = false;
---

<Layout
  title={`${player.username}'s Skyblock Profile'`}
  description={`view ${player.username}'s skyblock stats.`}
  image={{
    url: `https://mc-heads.net/body/${player.uuid}`,
    alt: `${player.name}'s avatar`,
  }}
>
  <ProfileJSONLD {...player} />
  <div class="flex w-full flex-col justify-center align-middle items-center">
    <img
      class="object-contain rounded-lg h-48 md:w-48 md:rounded-none md:rounded-s-lg"
      src={`https://mc-heads.net/body/${player.uuid}`}
      alt=""
    />
    <div
      class="flex flex-col w-full md:w-fit justify-between p-4 leading-normal"
    >
      <h2
        class="mb-0 text-2xl md:text-4xl self-center font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        {player.name}
      </h2>
      <span class="mt-0 text-ctp-subtext0 text-sm self-center mb-6"
        >Last seen {timePassedSince(player.lastPlayed.toString())}</span
      >
      {
        user != null && user.minecraft_uuid === player.uuid ? (
          <div id="profile-controls" class="flex flex-col my-6 p-4">
            <Card direction="col">
              <h1 class="text-3xl font-extrabold">Hello, {user.name}</h1>
            </Card>
          </div>
        ) : null
      }
      <h3
        class="text-ctp-green mb-4 text-center text-4xl md:text-6xl font-extrabold"
      >
        Stats
      </h3>
      <div
        id="player-stats-container"
        class="grid justify-self-center px-8 md:px-4 w-full grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        <span>Power Level: {player.powerLevel}</span>
        <span><div class="icon-32 bow" />Archery Level: {player.archeryLevel}</span>
        <span><div class="icon-32 water-bottle" />Alchemy Level: {player.alchemyLevel}</span>
        <span><div class="icon-32 diamond-shovel" />Digging Level: {player.diggingLevel}</span>
        <span><div class="icon-32 enchanting-table" />Enchanting Level: {player.enchantingLevel}</span>
        <span><div class="icon-32 diamond-hoe" />Farming Level: {player.farmingLevel}</span>
        <span><div class="icon-32 fishing-rod" />Fishing Level: {player.fishingLevel}</span>
        <span><div class="icon-32 iron-chestplate" />Heavy Armor Level: {player.heavyArmorLevel}</span>
        <span><div class="icon-32 diamond-axe" />Heavy Weapons Level: {player.heavyWeaponsLevel}</span>
        <span><div class="icon-32 leather-tunic" />Light Armor Level: {player.lightArmorLevel}</span>
        <span><div class="icon-32 diamond-sword" />Light Weapons Level: {player.lightWeaponsLevel}</span>
        <span><div class="icon-32 diamond-pickaxe" />Mining Level: {player.miningLevel}</span>
        <span><div class="icon-32 anvil" />Smithing Level: {player.smithingLevel}</span>
        <span><div class="icon-32 oak-log" />Woodcutting Level: {player.woodcuttingLevel}</span>
      </div>
    </div>
    <button id="toggle-map" class="bg-ctp-peach mb-4 text-black font-extrabold p-2 rounded-md"
      >Toggle Map</button
    >
    <div id="map-container" class="w-full h-[100vh] rounded-md"></div>
  </div>
</Layout>

<script define:vars={{ player }}>
	const toggleMapButton = document.getElementById("toggle-map");
  const mapContainer = document.getElementById("map-container");

	toggleMapButton?.addEventListener("click", () => {
		if (mapContainer?.innerHTML === "") {
			const iframe = document.createElement("iframe");
			iframe.id = "player-map";
			iframe.className = "w-full h-[100vh] rounded-md";
			iframe.src = `https://map.divnectar.com/#world_private_islands:${player.bluemap_x}:${player.bluemap_y}:${player.bluemap_z}:25:0:0:0:0:flat`;
			mapContainer.appendChild(iframe);
		} else {
			mapContainer.innerHTML = "";
		}
	});
</script>
