---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description} image={frontmatter.image}>
    <h1>{frontmatter.title}</h1>
    <span>Written by {frontmatter.author}</span>
    <slot />
</Layout>
