---
import Navigation from "../components/Navigation.astro";
import { SEO } from "astro-seo";
var { title, description, image } = Astro.props;
import { Tooltips } from 'astro-tooltips';


// use our global styles
import '../styles/global.css';

//
import { ClientRouter } from 'astro:transitions';

const currentRoute = Astro.url.pathname;
console.log("currentRoute:", currentRoute);

if (!image) {
	console.log('generating opengraph image')
	const screenshotResponse = await fetch(`https://backend.divnectar.com/api/og-image?url=https://divnectar.com${Astro.url.pathname}`);
	const screenshotUrl = await screenshotResponse.text();
	console.log('screenshotUrl:', screenshotUrl);

	image = {
		url: await fetch(`https://backend.divnectar.com/api/og-image?url=https://divnectar.com${Astro.url.pathname}`),
		alt: `Screenshot of https://divnectar.com${Astro.url.pathname}`,
	}
	console.log('OG - image:', image.url)
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<Tooltips interactive={false} delay={[15, 14000]} />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<script
			type="text/partytown"
			data-website-id="18091b9b-ce52-4b2b-8372-32b854387db7"
			src="https://analytics.divnectar.com/script.js"></script>
		<title>DivNectar</title>
		<SEO
			title={title}
			description={description}
			openGraph={{
				basic: {
					title: title,
					type: "image",
					image: image.url,
				},
			}}
			twitter={{
				creator: "@Sewdohe",
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: "/favicon.ico" }],
				// extending the default meta tags
				meta: [
					{
						name: "twitter:image",
						content:
							image.url,
					},
					{
						name: "twitter:title",
						content: description,
					},
					{ name: "twitter:description", content: description },
				],
			}}
		/>
	</head>
	<body
		class="bg-ctp-base container m-0 p-0 text-ctp-text prose prose-catpuccin w-full lg:prose-xl"
	>
		<Navigation transition:persist/>
		<div id="content" class="px-3 w-full lg:px-10">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	head,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
